<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org/"
                xmnls:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="webjars/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript"
    src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestion Produit</title>
    </head>
<body>
    
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a href="" class="navbar-bran">Gestion de produit</a>

        <ul class="navbar-nav">
            <li class="navbar-item">
                <a th:href="@{listeProduit}" class="nav-link">Home</a>
                <a class="nav-link" th:href="@{saveProduit}">Create Produit</a>

            </li>

            <li class="navbar-item dropdown">
                <a href="#" 
                class="nav-link dropdown-toggle" 
                id="navbardrop" data-toggle="dropdown">
                Produit
            </a>

            <div class="dropdown-menu">
                <a th:href="@{showCreate}" class="dropdown-item">Ajouter</a>
                <a th:href="@{listeProduit}" class="dropdown-item">Lister</a>
                <a href="" class="dropdown-item"></a>
            </div>

            </li>

        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a href="#" c
                lass="nav-link dropdown-toggle" 
                id="navbardrop"
                data-toggle="dropdown"
                >
                [username]
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Login</a>
                    <a href="#" class="dropdown-item">Log out</a>
                    <a href="#" class="dropdown-item">Profile</a>
                </div>
            </a>
            </li>
        </ul>
    </nav>

    <section layout:fragment="Mycontent" >
    </section>

</body>
</html>